.background {background-color: rgb(143, 188, 143);}

.main_header {
    border-bottom: 5px solid black;
}

.main_div {
    padding: 25px;
    text-align: center; 
}

.project_div {
    border: 2px dotted black;
    border-radius: 3px;
}