.background {background-color: rgb(143, 188, 143);}

.main_header {
    border-bottom: 5px solid black;
    padding-bottom: 15px;
    font-size: 35px;
    text-align: center;
}

.main_div {
    text-align: center; 
    font-size: 18px;
}

.project_header {
    text-align: center;
}

.project_div {
    padding: 15px;
    text-align: center;
    border: 2px dotted black;
    border-radius: 3px;
    font-size: 14px;
}