.background {background-color: rgb(175, 240, 224);}

.main_header {
    border-bottom: 5px solid black;
    padding-bottom: 15px;
    text-align: center;
}

.main_div {
    text-align: center; 
}

.project_header {
    text-align: center;
}

.project_div {
    padding: 15px;
    text-align: center;
    border: 2px dotted black;
    border-radius: 3px;
}

.fit_image {
    width: auto;
    height: 600px;
    object-fit: scale-down;
}